{% extends "layout.html" %}
{% block content %}
<div class="spacer"></div>
  <ul>
    <li> Maps, timeseries graphs, and bar charts are all interactive. Darker color hues indicate a higher value on all maps.</li>
    </br>
    <li> Question 1: Expands on trade data for countries from United Nations Trade dataset.</li>
    </br>
    <li> Question 2: Shows an interactive map of Democracy and Conflict across the globe.</li>
    </br>
    <li> Question 3: Nike's workforce is shown across the world as well as population data. </li>
    </br>
    </br>
    <li>The code for the project can be found in <a href="https://github.com/brinnpaul/sql-flask-d3-dc" target="_blank">Github</a>.</li>
  </ul>

  <script src="./static/lib/js/jquery.min.js"></script>
  <script src="./static/lib/js/bootstrap.min.js"></script>
  {% endblock %}